@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Heebo&display=swap');

/* Custom Properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'David Libre', serif;
    --ff-secondary: 'Heebo', sans-serif;

    --fw-reg: 200;
    --fw-bold: 600;

    --clr-primary: #f0ebeb;
    --clr-secondary: #f2f2f2;

    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1.20rem;
    --fs-body: 1rem;
}

:focus {
    outline: none;
    outline-offset: none;
}

.-moz-focus-inner {
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 100%;
}

.button:focus {
    outline: 5px solid floralwhite;
}

.btn{
    outline: none;
}

.introduction { 
    background-image: url(imgs/laptopbg.jpg);
    border-bottom: 1px solid;
    background-size: cover;
} 

.extended {
    padding-top: 5em;
    background: #fffefe;
}

#welcome {
    font-size: 16.5px;
}

#extendedjs {
    display: none;
}

/* Blinker */
.blinkingtext {
    animation: blinker 2.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Nav styling */

#sitelogo {
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    background: rgba(197, 195, 195, 0.925);
}

.nav-item:hover > a {
    color: rgba(44, 43, 43, 0.945)
}

header {
    font-family: var(--ff-secondary);
    border-bottom: 1px solid #8c8787d6;
    background: #262424;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.brandbox {
    display: flex;
    justify-content: space-between;
}

.brandboxpr {
    display: flex;
    justify-content: center;
}

.logo {
    margin-left: 6em;
    margin-top: .25em;
    color: white;
    letter-spacing: 1px;
}

.nav-link {
    color: white;
    font-size: 1.25em;
}

/* Introducton styling */

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.15em;
    padding-top: 2.5em;
    color: #fff;
    font-size: 1.8em;
}

.frontpage {
    margin: 1em;
    padding-bottom: .5em;
}

.metext {
    -webkit-text-stroke: .6px #5b5656a8;
}

.topborder {
    border-top:2px solid rgb(255, 255, 255);
    width: 15%;
    margin-left: 2.5px;
}

.devtitle, .shorttext {
    margin: 1em;
}

.jrdev {
    font-size: 1.5em;
}

.aboutmedesc {
    font-size: 1.1em;
}

.bottomborder {
    border-bottom: 2px solid rgb(255, 255, 255);
    float: right;
    width: 75%;
}

.containerofbtns {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    font-family: var(--ff-secondary);
}

.mainBtns {
    padding-top: .5em;
    padding-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
}

.infoBtns {
    background: #4948489e;
    letter-spacing: 1.15px;
    height: 2em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
}

#btnSpan1, #btnSpan2, #btnSpan3 {
    font-size: 15px;
    color: #000000b8;
    visibility: hidden;
    margin-top: -10px;
}

.infoBtns:hover {
    border-radius: 10px;
    border: none;
    background: #ffffffbf;
    color: #000000b8;
    transform: scale(1.1);
}

.arrowdown {
    padding-top: 2em;
    padding-bottom: 2em;
}

.fa-long-arrow-alt-down {
    font-size: 2.5em;
}

.button_box {
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    margin-bottom: 2em;
}

.arrowBtn, .arrowBottom {
    border: none;
    background: transparent;
    font-size: 2.5em;
    color: white
}

.arrowIcon {
    transition: transform 250ms ease-in-out;
}

.arrowIcon:hover {
    transform: scale(1.1);
    color: #bbb6b6;
}

.button_link {
    color: white;
}

.button_link:hover {
    color:  #a1a1a1;
}

/* Extended */

.projects_box {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background: var(--clr-primary);
    margin-top: 5em;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    font-family: var(--ff-secondary);
}

.projects {
    font-size: 2.5em;
}

#projects_title {
    display: flex;
    justify-content: center;
    color: #444242;
    padding-top: 1.5em;
    -webkit-text-stroke: .5px floralwhite;
}

.projectsBtn {
    padding-top: 4.5em;
}

.heresmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3.25;
    padding-top: 5em;
}

.github_title {
    border-bottom: 1px solid;
}

.underlink {
    font-size: 1.05em;
    letter-spacing: 5px;
}

.github_link {
    text-decoration: none;
    color: #d24141;
}

.github_link:hover {
    text-decoration: none;
    color:  #201f1f;
}

.btn-outline-info {
    width: 15em;
    border-color: #201f1f;
    color: black;
}

.btn-outline-info:hover {
    border-radius: 1px;
    border-color: white;
    background-color: #393d3e;
    color: #fff;
}

.skillbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
    height: 35em;
}

.skills_container {
    font-family: var(--ff-secondary);
    margin-right: 1em;
    margin-top: 1em;
}

#web_title {
    border-bottom: 2px solid;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.skill_icon {
    font-size: 4em;
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .1em;
}

.skill-title {
    font-size: 12px;
}

#tools_title {
    border-bottom: 1px solid;
    width: 26%;
    margin-left: 2em;
    margin-bottom: 1em;
}

.expertise {
    padding-top: 5em;
}

.tools {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    text-shadow: 0px 0px 1px;
}

.tool {
    font-style: italic;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: #3838ee;
}

.fa-js {
    color: #dfdf10;
}

.fa-node-js {
    color: green;
}

.fa-git-alt {
    color: orangered;
}

.fa-bootstrap {
    color: #970f97;
}

.site_footer {
    background: #262424;
    color: white;
    height: 3.5em;
}

.copybox {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-family: var(--ff-secondary);
}

.copyright {
    letter-spacing: .5px;
}

.footerlink {
    color: rgba(199, 195, 195, 0.918);
}

.footerlink:hover {
    color: #fff;
    text-decoration: underline;
    letter-spacing: 1px;
}

.button_bottom {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin: 1em;
} 

.arrowbtnbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
}

.contact_link {
    color: #5b5858db;
}

.contact_link:hover {
    color:  #a1a1a1;
}

/* Flip Cards CSS */

.card-block {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
  
.card {
    margin: 20px 0;
}

.container {
    padding-top: 1.25em;
    max-width: 2000px;
}

.card-container {
    perspective: 700px;
    margin-top: 1.5em;
}

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background:rgba(34, 34, 34, 0.84);
    border: 1px solid;
    border-radius: .1em;
}
  
.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
}
  
.card-flip .front {
    position: relative;
    z-index: 1;
}
  
.card-flip .back {
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
}
  
.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-title {
    margin-top: .20rem;
    font-size: 1.25rem;
    margin-bottom: .30rem;
    color: white;
}

.card-description {
    color: rgb(245, 245, 245);
    font-size: 1.25em;
    padding-top: 1em;
    text-align: center;
    margin: .5em;
}

.card-link {
    text-decoration: none;
    color: white;
}

.cardIcon {
    transition: transform 250ms ease-in-out;
    font-size: 1.45em;
}

.cardIcon:hover {
    transform: scale(2.2);
    color: #77779cdc; 
}

/* Projects page styling */

.projectsintroduction {
    padding-top: 2em;
    padding-left: 2em;
}

.projectstitle {
    padding: 1em;
}

.projecttitle{
    font-size: 80px;
    width: 100%;
    color: #fff;
    -webkit-text-stroke: 1.25px #0b0b0b8a
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.twocasebox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: stretch;
    padding-top: 2em;
    padding-bottom: 2em;
}

.biggerbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10em;
}

.button_case {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .50em;
    font-family: revert;
}

.buttonContainer {
    display: flex;
}

.button_container {
    padding-bottom: 1.5em;
}

.caseButton {
    margin-right: .50em;
}

.projectboxone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .50em;
}

.projectboxtwo {
    border: 1px solid;
    width: 20em;
    display: flex;
    box-shadow: 5px 5px 22px gray;
    border-radius: 2em;
    height: 100%;
}

.forAllButtons {
    font-size: 25px;
    background: white;
    border: 1px solid black;
    width: 5em;
    box-shadow: 1px 1px 1.5px;
    border-radius: 5px;
    transition: transform 200ms ease-in-out;
    font-weight: var(--fw-bold);
}

.forAllButtons:hover {
    border-radius: 10px;
    background: #5b9799;
    border: none;
    box-shadow: 2px 2px 3px gray;
    transform: scale(1.1);
    color: #fff;
}

#liveButton {
    display: flex;
    justify-content: center;
}

.fa-external-link-alt {
    font-size: 22.5px;
    margin-left: 5px;
    margin-top: 5px;
    color: #04cfd4;
}

.appTitle {
    border-bottom: 2px solid;
}

.appText {
    width: 100%;
}

.appdesc {
    font-style: italic;
    font-size: 20px;
    margin-left: 1em;
    padding-top: 5px;
}

.madewith {
    padding-top: .50em;
    margin-left: 5px;
    margin-right: 5px;
}

.made {
    text-align: center;
    font-size: 20px;
}

.projectsbg {
    background-image: linear-gradient(to bottom right, #e2dada , #ddd7d7, #aca9a9);
    color: #2f2b2b;
}

.projectsimg {
    border-radius: 2em;
}

.html {
    color: orangered;
}

.css {
    color: #3838ee;
}

.js {
    color: #ffff1b;
}

.extra {
    color: #fffdfd;
}

.bootstrap {
    color: #9b079b;
}

.nodejs {
    color: #38ac02;
}

.endofshowcase {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    padding: 2em;
}

#githubprofile {
    font-size: 70px;
    color: #fff;
    -webkit-text-stroke: 1.25px #0b0b0b8a;
}

#githubuser {
    text-decoration: none;
    color: #fff;
}

#githubuser:hover {
    cursor: pointer;
}

#viewmoreaboutme {
    text-decoration: none;
    color: #423e3ee8;
}

#viewmoreaboutme:hover {
    color: #524f4fef;
}

/* About me page styling */

.biography {
    background: url(imgs/wheelthingsbg.jpg);
    background-size: cover;
}

.wrapping {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    background-color:#313030de;
    margin-right: 25em;
    margin-left: 2.5em;
    color: #ffffffde;
}

.shortintro {
    margin: 1.5em;
}

.introheader {
    margin: 1em;
    border-bottom: 2px solid #868686;
    width: 50%;
}

#introme {
    font-size: 2.5em;
}

.introtext {
    font-size: 1.2em;
}

.resumeContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.resumeBtn {
   width: 500px;
   height: 35px;
   background: #7676b7;
   border: 2px solid white;
   color:#fff;
   letter-spacing: 1px;
   box-shadow: 1px 1px 5px #201e1ef2;
   border-radius: 5px;
   transition: 200ms;
}

.resumeBtn:hover {
    transform: scale(1.1);
    letter-spacing: 1.25px;
    box-shadow: 2px 2px 10px #201e1efa;
}


.aboutme {
    margin: 1.5em;
}

.aboutmeheader {
    margin: 1em;
}

#introabout {
    font-size: 2em;
}

.aboutmetext {
    font-size: 1.2em;
}

#myname {
    padding-top: 1em;
}

.knownskills {
    margin: 1.5em
}

.skillsintro {
    margin: 1em;
}

.skillstitle {
    margin: .25em;
    padding-top: 1em;
    font-family: var(--ff-secondary);
}

.skills_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.skills_item {
    margin: 1em .5em;
    background: #6e6ec4d6;
    padding-left: .20em;
    padding-right: .20em;
    border-radius: 1em;
    text-align: center;
    font-family: var(--ff-secondary);
}

.skills_item:hover {
    transform: scale(1.1);
}

.webitem {
    margin: 5px;
}

.bluedev {
    color: #88e;
}

#introabout {
    color: #88e;
}

.portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    font-size: 2.5em;
}

#portfolio {
    text-decoration: none;
    color:#babaec;
    transition: 400ms;
}

#portfolio:hover {
    color: #ffffffde;
    transform: scale(1.1);
}

.btn-outline-info:focus {
    box-shadow: 0 0 0 .2rem rgba(33, 34, 34, 0.51) !important;
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #43494a;
    border-color: #020202;
}


/* Contact page */
.contact {
    padding: 5em;
    background: #313030f1;
}

.contactmebg {
    background:#3e3b3b;
    border-radius: .5em;
    padding-bottom: 4em;
    padding-top: 1.5em;
    box-shadow: 2px 2px 25px 8px #2b2828;
    border: 1px solid #a6a3a33d;
}

.reachme {
    margin: 1em;
    padding: 1em;
    color: white;
    border-bottom: 2px solid #b7aaaae6;
}

#contactme {
    font-size: 2.5em
}

#informalcontactme {
    font-size: 1.8em;
}

.contactmeformalwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactcontainer {
    display: flex;
}

.contacttile {
    padding: 2em;
    /* background: #fff8f8f7; */
    margin: 1em;
    border-radius: 2.5px;
    font-size: 1.25em;
    box-shadow: 5px 2px 2.5px 2px #868686b5;
    background: linear-gradient(
        white, white 50%,#72c7f0 50%,#72c7f0
    );
    transition: all 0.2s ease;
    background-size: 100% 200%;
}

.contacttile:hover {
    background-position: 100% 100%;
}

.contacttile:hover > a{
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.informalreachme {
    margin-top: 5em;
    padding: 1em;
    width: 40%;
    color: white;
    border-bottom: 2px solid #b7aaaae6;
}

.contactmeinformalwrap {
    margin: 2em;
    padding: 1em;
}

.informaltile {
    padding: 2em;
    /* background: #fff8f8f7; */
    width: 100%;
    margin: 1em;
    border-radius: 2.5px;
    font-size: 1.15em;
    box-shadow: 5px 2px 2.5px 2px #868686b5;
    background: linear-gradient(
        white, white 50%,#72c7f0 50%,#72c7f0
    );
    transition: all 0.2s ease;
    background-size: 100% 200%;
}

.informaltile:hover {
    background-position: 100% 100%;
}

.informaltile:hover > a{
    color: #fff;
    text-decoration: none;
    /* font-style: italic; */
}

.contactIcon {
    font-size: 1.5em;
    padding-right: .2em;
}

.padding {
    padding-right: .5em;
}

.contact-link{
    text-decoration: none;
    color: rgba(63, 180, 248, 0.904);
}

.flexboxwrap {
    display: flex;
    justify-content: space-between;
}

#backto {
    margin: 1em;
    color: #fff;
}

/* #9b079b good shade of purple
#201f1f good border shade
 #0d0d0d good black shade
 #262424 another good black shade
 #221408b3 nice brown shade
 #3838ee cool blue shade
 #553e3e interesting brown color
 #4948483f butn
*/
/* js yellow #dfdf10, #ffff1b
#970f97*/